*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
  
    margin: 0 auto;
    border: 1px solid green;
}
.container{
    overflow: auto;
   
    border: 0 auto;
}

.display-section--button{
    float: left;
    border: 1px solid gray;
    height: 150px;
    font-size: 2em;
}

.numeral-section--button{
    float: left; 
    border: 1px solid gray;
    height: 150px;
    font-size:2em;
    text-align: center;
    
}
.row{
    display: block;

}
.row-one, .row-two, .row-three, .row-four{
   overflow: auto;
}